body {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}
/*icono navegacion*/
.fa-person-hiking {
    color: #f79b93;
}
/*pagina inicio*/

/*pagina contacto*/
.yo {
    border-radius: 100%;
}
.container__contacto {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*footer*/
.footer {
    padding: 20px;
}
.rrss a {
    text-decoration: none;
}
.rrss i {
    display: block;
    padding: 10px;
    color: #f79b93;
}