body {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}
/*icono navegacion*/
.fa-person-hiking {
    color: #f79b93;
}
/*pagina index*/
.rutasfav {
    background-image: url(https://i.pinimg.com/736x/46/d3/39/46d339948a659e68fb23b4c05571cd67.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    display: block;
    text-align: center;
    margin: auto;
    padding: 80px 20px 20px 20px;
    font-size: large;
}
.rutasfav__fav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
.rutasfav__parque {
    position: relative;
    margin: 20px;
}
.rutasfav__parque span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    z-index: 1;
}
.rutasfav__foto {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
}
.rutasfav__foto:hover {
    box-shadow: 10px 10px 20px fuchsia;
    cursor: pointer;
    opacity: 1;
}
.rutasfav__parque:hover span {
    display: none;
}
.rutasfav__foto:active {
    transform: scale(1.05);
}
@media (min-width: 1200px) {
    .rutasfav__foto {
        width: 250px;
        height: 250px;
    }
}
/*pagina galeria*/

/*pagina contacto*/
.yo {
    border-radius: 100%;
}
.container__contacto {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*footer*/
.footer {
    padding: 20px;
}
.rrss a {
    text-decoration: none;
}
.rrss i {
    display: block;
    padding: 10px;
    color: #f79b93;
}